
<div *ngIf="artist" class="container main-container animated fadeIn fast">

	<div class="row">

		<div class="col-md-3 text-center">

			<img [src]="artist.images | nophoto" class="img-responsive img-circle img-thumbnail">
			<br>

		</div>

		<div class="col-md-9">

			<h3> {{ artist.name }} </h3>
			<small> Popularity {{ artist.popularity }}</small>
			<small> Followers {{ artist.followers.total }}</small>
			<hr>
			<a [href]="artist.external_urls?.spotify" class="btn btn-outline-success">
				See more
			</a>

			<a [routerLink]="['/search']" class="btn btn-outline-danger">
				Go back
			</a>

		</div>

	</div>



</div>


<div *ngIf="tracks">

	<div class="container text-center">

		<h3> Top track of {{ artist.name }}</h3>
		<hr>

		<div class="row">

			<div class="col-md-12">

				<div class="table-responsive">


					<table class="table table-inverse table-hover">

						<thead>
							<tr>
								<th> # </th>
								<th> Photo </th>
								<th> Song </th>
								<th> Popularity </th>
								<th> Preview </th>							
							</tr>
						</thead>

						<tbody>

							<tr *ngFor="let track of tracks; let i = index;">

								<td> {{ i + 1 }} </td>
								<td> <img [src]="track.album?.images | nophoto" alt="" class="img-fluid img-50"> </td>
								<td> <p class="text-danger"> {{ track.name }} </p> </td>
								<td> {{ track.popularity }} </td>
								<td>
<!-- 								 <audio controls>
								 	<source [src]="track.preview_url">
								 		Your browser it's so old, update it please.
								 </audio> -->

								 <iframe [src]="track.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
								</td>

							</tr>
							


						</tbody>
					</table>


				</div>


			</div>

		</div>



	</div>	


</div>


