
<div class="container">
<br>

<div class="row">

	<div class="col-md-3">

	<label for="param">Search </label>

		<input [(ngModel)]="param" class="form-control"
		(keyup)="searchArtist()"
		type="text" name="param" placeholder="Search by artist">

	</div>

	<div class="col-md-9">

		<div class="row">

			<div class="col-md-3 text-center puntero"
			[routerLink]="['/artist',query.id]"
			 *ngFor="let query of _spotifyService.artist">

				<img [src]="query.images | nophoto " class="img-fluid img-thumbnail">
				<p> {{ query.name }} </p>
				<hr>

			</div>

		</div>

	</div>

</div>

</div>