



<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/img/banner-ico.png" width="30" height="30" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActivate="active">
        <a class="nav-link" [routerLink]="['home']">Home </a>
      </li>

      <li class="nav-item" routerLinkActivate="active">
        <a class="nav-link" [routerLink]="['search']">Search </a>
      </li>
    </ul>

  </div>
</nav>